/*etiqueta {atributs:valor      } */
body{
     background-color: bisque;
     color: darkcyan;
     background-image: url("../imatges/radiohead.jpg");
     background-repeat: no-repeat;
}

h3
{
     color:aquamarine;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 32px;
     background-color: azure;
} 

li
{
     color:blue;
     font-weight: bold;
     font-style: italic;
     background-color: beige;
}

dt
{
     color: blueviolet;
     font-size: 28px;
}

dd
{
     color: gold;
}