table
{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th
{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}
td

{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}

img
{
    height: 50px;
    width: 70px;
}
.roc
{
    color:red;
}


.assignatures
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-style: bold;
}

.bardaji
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
    background-color: bisque;
}

.duran
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
}

.gomez
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
}

.montesinos
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
}

.campaña
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
}